<footer>
    <img src="images/logo.svg" alt="">
    <div class="footer-links">
        <a href="">
            <div class="link-item">
                About Us
            </div>
        </a>
        <a href="">
            <div class="link-item">
                Privacy Policy
            </div>
        </a>
        <a href="">
            <div class="link-item">
                Terms & Conditions
            </div>
        </a>
        <a href="">
            <div class="link-item">
                Blog & News
            </div>
        </a>
        <a href="">
            <div class="link-item">
                FAQ
            </div>
        </a>
    </div>
    <div class="contact">
        <a href="">
            <div class="contact-item">
                <img src="images/solid-communication-phone.svg" alt="">

                <p>
                    +12 345 67 89
                </p>
            </div>
        </a>
        <a href="">
            <div class="contact-item">
                <img src="images/solid-communication-location.svg" alt="">
                <p>
                    Baker str. 123, London, UK
                </p>
            </div>
        </a>
    </div>
    <div class="socials">
        <a href="">
            <div class="social-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M5.77083 4C4.79283 4 4 4.79283 4 5.77083C4 6.74884 4.79283 7.54167 5.77083 7.54167C6.74884 7.54167 7.54167 6.74884 7.54167 5.77083C7.54167 4.79283 6.74884 4 5.77083 4Z"
                        fill="#F7FBFF" />
                    <path
                        d="M4.10417 9C4.04664 9 4 9.04664 4 9.10417V19.9375C4 19.995 4.04664 20.0417 4.10417 20.0417H7.4375C7.49503 20.0417 7.54167 19.995 7.54167 19.9375V9.10417C7.54167 9.04664 7.49503 9 7.4375 9H4.10417Z"
                        fill="#F7FBFF" />
                    <path
                        d="M9.52083 9C9.4633 9 9.41667 9.04664 9.41667 9.10417V19.9375C9.41667 19.995 9.4633 20.0417 9.52083 20.0417H12.8542C12.9117 20.0417 12.9583 19.995 12.9583 19.9375V14.1042C12.9583 13.6898 13.123 13.2923 13.416 12.9993C13.709 12.7063 14.1064 12.5417 14.5208 12.5417C14.9352 12.5417 15.3327 12.7063 15.6257 12.9993C15.9187 13.2923 16.0833 13.6898 16.0833 14.1042V19.9375C16.0833 19.995 16.13 20.0417 16.1875 20.0417H19.5208C19.5784 20.0417 19.625 19.995 19.625 19.9375V12.7544C19.625 10.7321 17.8662 9.14999 15.854 9.33291C15.2335 9.38933 14.62 9.54359 14.0471 9.78912L12.9583 10.2557V9.10417C12.9583 9.04664 12.9117 9 12.8542 9H9.52083Z"
                        fill="#F7FBFF" />
                </svg>
            </div>
        </a>
        <a href="">
            <div class="social-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M14.1041 4C13.0819 4 12.1016 4.40606 11.3788 5.12886C10.656 5.85166 10.25 6.83198 10.25 7.85417V10H8.18747C8.08392 10 7.99997 10.0839 7.99997 10.1875V13.0208C7.99997 13.1244 8.08392 13.2083 8.18747 13.2083H10.25V19.0208C10.25 19.1244 10.3339 19.2083 10.4375 19.2083H13.2708C13.3744 19.2083 13.4583 19.1244 13.4583 19.0208V13.2083H15.5391C15.6251 13.2083 15.7001 13.1498 15.721 13.0663L16.4293 10.233C16.4589 10.1146 16.3694 10 16.2474 10H13.4583V7.85417C13.4583 7.68288 13.5263 7.51861 13.6475 7.39749C13.7686 7.27638 13.9328 7.20833 14.1041 7.20833H16.2708C16.3744 7.20833 16.4583 7.12439 16.4583 7.02083V4.1875C16.4583 4.08395 16.3744 4 16.2708 4H14.1041Z"
                        fill="#F7FBFF" />
                </svg>
            </div>
        </a>
        <a href="">
            <div class="social-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M20.2388 6.85603C20.2871 6.78872 20.2157 6.70182 20.1385 6.73176C19.5896 6.94453 19.0159 7.08809 18.4307 7.15883C19.0823 6.76956 19.5851 6.177 19.8639 5.47544C19.8923 5.40398 19.8142 5.34016 19.7469 5.37733C19.1413 5.71178 18.4882 5.95261 17.8097 6.09131C17.7813 6.09712 17.7521 6.08745 17.7321 6.06641C17.223 5.52918 16.5528 5.17148 15.8222 5.04788C15.0762 4.92167 14.3094 5.04663 13.6421 5.40316C12.9749 5.75968 12.4448 6.32761 12.135 7.01786C11.8405 7.67416 11.761 8.40576 11.9063 9.10836C11.9176 9.16288 11.8749 9.21435 11.8193 9.2109C10.4993 9.12891 9.20954 8.7778 8.02953 8.17872C6.85252 7.58116 5.81025 6.74986 4.96619 5.73608C4.92873 5.69109 4.85773 5.69691 4.83044 5.7487C4.56779 6.24709 4.43028 6.80259 4.43065 7.36717C4.42959 7.92915 4.5675 8.48268 4.83212 8.97847C5.09673 9.47426 5.47984 9.89693 5.94732 10.2088C5.45155 10.1953 4.96545 10.0728 4.52336 9.85056C4.46639 9.82192 4.39805 9.8627 4.40101 9.9264C4.43549 10.6674 4.70753 11.4114 5.17842 11.9821C5.67952 12.5895 6.37504 13.0052 7.14732 13.1588C6.85003 13.2493 6.54138 13.297 6.23065 13.3005C6.06154 13.2985 5.89275 13.286 5.72527 13.2631C5.66317 13.2547 5.61246 13.3136 5.6342 13.3724C5.86455 13.9953 6.27149 14.5389 6.80655 14.9356C7.37859 15.3598 8.06864 15.5951 8.78066 15.6088C7.57832 16.5549 6.09389 17.0712 4.56399 17.0755C4.40679 17.076 4.24965 17.0709 4.09289 17.0602C4.00455 17.0542 3.96392 17.1719 4.04007 17.2171C5.53071 18.1017 7.23448 18.5693 8.97232 18.5672C10.2554 18.5805 11.5283 18.338 12.7166 17.8539C13.9049 17.3698 14.9848 16.6537 15.8933 15.7476C16.8018 14.8414 17.5206 13.7633 18.0078 12.5763C18.4949 11.3892 18.7407 10.1169 18.7307 8.83383V8.43398C18.7307 8.40767 18.7431 8.38292 18.7641 8.36707C19.3293 7.94029 19.8264 7.43075 20.2388 6.85603Z"
                        fill="#F7FBFF" />
                </svg>
            </div>
        </a>
    </div>

</footer>