<nav>
    <div class="nav-core">
        <img src="images/Logo2.png" alt="">
        <div class="nav-link-set">
            <a href="">
                <div class="nav-link">
                    <span>Home</span>
                </div>
            </a>
            <a href="">
                <div class="nav-link">
                    <span>about</span>
                </div>
            </a>

        </div>
    </div>
    <div class="nav-cta">
        <a href="/login">
            <div class="nav-link">
                <span>login</span>
            </div>
        </a>
        <a href="/register">
            <div class="web-primary-button">
                <span>Get Started</span>
            </div>
        </a>
        <!-- <button class="web-primary-button">Get Started</button> -->
    </div>
</nav>