<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/bb945b4696.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <link rel="stylesheet" href="styles/website.css">
    <title>Solve Money</title>
</head>

<body>

    <%- include ('partials/navbar') %>

        <section id="title">
            <div class="heading">
                <div class="text-set">
                    <h1>
                        Flexible, pay as you grow loans
                    </h1>
                    <p>With Solve money, we fix the cost of your loan up-front and loan repayments are a
                        fixed percentage of your weekly sales. Say goodbye to repayment worries and hello to a new,
                        powerful
                        way to grow your business.</p>

                </div>
                <a href="/register" class="pry-btn-1">
                    <span>Get Started</span>
                </a>
            </div>
            <div class="title-image-set">
                <img src="images/title image 1.png" alt="" class="title-image-set">
                <div class="title-image-subset">
                    <img src="images/title image 2.png" alt="" class="title-image-subset">
                    <img src="images/title image 3.png" alt="" class="title-image-subset">
                </div>
            </div>
        </section>
        <section id="features">
            <div class="heading">
                <h2>
                    Specially designed for your business
                </h2>
                <p>Access more funds and more flexibility as your business grows</p>
            </div>
            <div class="features-list">
                <div class="feature-item">
                    <img src="images/flexible-icon.svg" alt="">
                    <div class="feature-item-description">
                        <h4>Flexible repayments</h4>
                        <p>If revenue slow so do your repayments</p>
                    </div>
                </div>
                <div class="feature-item">
                    <img src="images/quick-icon.svg" alt="">
                    <div class="feature-item-description">
                        <h4>Quick funding</h4>
                        <p>Get funded within a few business days</p>
                    </div>
                </div>
                <div class="feature-item">
                    <img src="images/low-cost-icon.svg" alt="">
                    <div class="feature-item-description">
                        <h4>Low cost loans</h4>
                        <p>No personal guarantee or collateral </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="calculator">
            <div class="heading">
                <div class="text-set">
                    <h2>
                        Lending that works for your business
                    </h2>
                    <p>
                        We tailor every offer to your needs.
                        Tell us how much you want, when you want it, and we'll create the best possible offer.
                        Choose a structure that works for you.
                    </p>
                </div>

                <div class="calculator-inputs">
                    <fieldset>
                        <legend>Loan amount</legend>
                        <div class="loan-amount">
                            <label for="loan-amount">₦</label>
                            <input type="text" name="loan-amount" id="loan-amount" oninput="formatNumber(this)"
                                value="2,000,000" size="8" maxlength="11">
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Loan term</legend>
                        <div class="loan-term">
                            <button class="chips active" onclick="selectChip(this)" id ="3" >3 months</button>
                            <button class="chips" onclick="selectChip(this)" id="6">6 months</button>
                            <button class="chips" onclick="selectChip(this)"id="12">12 months</button>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="calculator">
                <div class="title">
                    <h4>Your offer </h4>
                    <i class="fa-solid fa-store"></i>
                </div>
                <div class="term-details">
                    <div class="line-item">
                        <p>Your Offer</p>
                        <h4 id="principle">₦ 10,000,000</h4>
                    </div>
                    <div class="line-item">
                        <p>FLat Fee</p>
                        <h4 id="rate">5%</h4>
                    </div>
                    <div class="line-item">
                        <p>Total Repayable</p>
                        <h4 id="totalPayment">₦ 10,500,000</h4>
                    </div>
                    <div class="button-area">
                        <a href="/register" class="pry-btn-1">
                            <span>Get Started</span>
                        </a>
                        <p>This is subject to change after process</p>
                    </div>

                </div>
            </div>
        </section>
        <section id="animation">
            <div class="heading">
                <div class="text-set">
                    <h2>
                        Low Revenue? <br>No problem
                    </h2>
                    <p>
                        If your business slows, so will your repayments.
                        As you gain traction, we'll lend a hand and with no fees, or prepayment penalties, it's easy to
                        see why we're the best way to get an affordable loan
                    </p>
                </div>
                <a href="/register" class="pry-btn-1">
                    <span>Get Started</span>
                </a>
            </div>
            <img src="/images/graph.png" alt="">
        </section>
        <section id="ideal-customer">
            
        </section>
        <%- include ('partials/footer') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="scripts/website.js"></script>
</body>

</html>