<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb945b4696.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="/styles/authentication.css">
    <title>Solve | Register | OTP-Validation </title>
</head>

<body>
    <h1 id="title">
        Solve<span>.</span>Money
    </h1>
    <% if (locals.error) { %>
        <div class="error-message">
          <%= error %>
        </div>
      <% } %>

    <form action="/validate-otp/<%= user._id %>" method="post" id="validate-otp" novalidate>
        <!-- Page 1 -->
        <div class="form-card" id="page-1">
            <a href="/" class="back-btn2">
                <i class="fa-solid fa-arrow-left"></i>   Go Back
            </a>
            <p>👋 Welcome,</p>
            <h2>Verify Phone Number</h2>
            <p>
                Please provide the code sent to <em style="color:#FB60E7 ;"><%= user.phoneNumber.msisdn %></em> below
            </p>
            
                <div class="otp-container">
                    <input type="text" name="otp1" class="otp-input" maxlength="1" required>
                    <input type="text" name="otp2" class="otp-input" maxlength="1" required>
                    <input type="text" name="otp3" class="otp-input" maxlength="1" required>
                    <input type="text" name="otp4" class="otp-input" maxlength="1" required>
                    <input type="text" name="otp5" class="otp-input" maxlength="1" required>
                    <input type="text" name="otp6" class="otp-input" maxlength="1" required>
                </div>

            <p class="alternative">
                Didn’t receive the SMS code? <br><a href="">Resend</a> after 120 seconds 
            </p>
            <button type="submit" class="main-btn">Verify</button>
            <a href="/register" class="secondary-btn">Change Number</a>



        </div>
    </form>
    <p class="alternative">Already have an account? <a href="/login">Sign In</a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/auth-script.js"></script>

</body>

</html>