<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb945b4696.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="styles/authentication.css">
    <title>Solve | Register | Personal </title>
</head>

<body>
    <h1 id="title">
        Solve<span>.</span>Money
    </h1>
    <% if (locals.error) { %>
        <div class="error-message">
          <%= error %>
        </div>
      <% } %>
    <!-- form section with 2 pages -->
    <form action="/register" method="post" id="register-1" novalidate>
        <!-- Page 1 -->
        <div class="form-card" id="page-1">
            <a href="/" class="back-btn">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <p>👋 Welcome,</p>
            <h2>Start Your Onboarding</h2>
            <img src="images/signup-1-welcome.svg" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit
                ornare egestas arcu placerat. Maecenas aenean egestas cras a, vitae. Potenti sit convallis augue
                laoreet phasellus odio pharetra, mi mi.
            </p>

            <div class="main-btn next-btn">
                Proceed
            </div>

        </div>
        <!-- page 2 -->
        <div class="form-card" id="page-2">
            <a href="/" class="back-btn">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <p>👋 Welcome,</p>
            <h2>Personal Information</h2>
            <p>
                Provide all personal information that allows us know you better.
                It is important that the information provided matches any Government ID that would be used.
            </p>
            <div class="horizontal-inputs-2">

                <div class="input-container">
                    <i class="fa-solid fa-user fa-sm" style="color: #c7c3c3;"></i>
                    <input type="text" name="fName" id="" placeholder="First Name" required pattern="^[A-Za-z-]+$">
                    <i class="fa-solid fa-circle-info error" style="color: #FB60E7;"></i>
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-user fa-xs" style="color: #c7c3c3;"></i>
                    <input type="text" name="lName" id="" placeholder="Family Name" pattern="^[A-Za-z-]+$" required>
                    <i class="fa-solid fa-circle-info error" style="color: #FB60E7;"></i>
                </div>

            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope " style="color: #c7c3c3;"></i>
                <input type="email" name="email" id="" placeholder="Email" required>
                <i class="fa-solid fa-circle-info error" style="color: #FB60E7;"></i>

            </div>
            <div class="input-container">

                <!-- <i class="fa-solid fa-phone" style="color: #c7c3c3;"></i> -->
                <select name="countryCode" id="lang" >
                    <option value="234" selected>+234</option>
                    <option value="233">+233</option>

                </select>
                <input type="tel" name="tel" id="" placeholder="Phone Number" maxlength="10"
                    pattern="^(70|80|81|90|91)[0-9]{8}$" required>
                <i class="fa-solid fa-circle-info error" style="color: #FB60E7;"></i>
            </div>
            <div class="input-checkbox-container">
                <input type="checkbox" name="business owner" id="bo" required>
                <label for="bo">I confirm that I am an owner of the business</label>
                <i class="fa-solid fa-circle-info fa-xs error" style="color: #FB60E7;"></i>
            </div>
            <button type="submit" class="main-btn">Submit</button>


        </div>
    </form>


    <p class="alternative">Already have an account? <a href="/login">Sign In</a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/auth-script.js"></script>

</body>

</html>