html, body {
    height: 100%; /* Make html and body take up the full height of the screen */
    width: 100%; /* Make html and body take up the full width of the screen */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
  }

body {
    font-family: 'Poppins', sans-serif;
    /* width: 100vw; */
    margin: 0;
    background-color: #060809;
    background-image: url("/images/background.png");
    background-size: cover;
    background-attachment: fixed;
    /* Add this line to fix the background */
}

h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}



p {
    opacity: 0.5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.2s ease;
}

h4 {

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #060809;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: #FFF;
}


.nav-core {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 28px;
}

.nav-link-set {
    display: flex;
    align-items: center;
    gap: 16px;

    /* typography */
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;

}

.nav-link {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.nav-cta {
    display: flex;
    padding: 20px 40px;
    align-items: flex-start;
    gap: 16px;
}




.pry-btn-1 {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background: #9100CB;

    /* typography */
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


section {
    display: flex;
    padding: 61px 120px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#title {

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 1.5rem;
    padding-top: 10%;
    color: #FFF;

    /* width: 100vw; */
    /* align-self: stretch; */

    /* background image */


}


#title .heading {
    width: 40%;
    min-width: 560px;
}

.text-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

#title h1 {
    align-self: stretch;
    margin: 0;

    /* typography */
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.25rem;
    letter-spacing: -0.08rem;
}

.title-image-set {
    display: flex;
    align-items: center;
    gap: 16px
}

.title-image-subset {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
}

img.title-image-set {
    width: 22rem;
    height: 33.625rem;
    flex-shrink: 0;
    border-radius: 16px;

}

img.title-image-subset {
    width: 16.25rem;
    height: 16.25rem;
    flex-shrink: 0;
    border-radius: 16px;

}

#features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
    background: #FFF;
    color: #000;
}

.heading-2 {
    align-items: center;
    gap: 4px;
    text-align: center;
}

.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.feature-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.feature-item-description {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}


footer {
    display: flex;
    padding: 20px 122px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 24px;
    flex-wrap: wrap;
    background: #060809;
}

footer a {
    color: white;
}

footer>img {
    padding: 0px 20px;
}

.footer-links {
    display: flex;
    /* flex-direction: column; */
    width: 388px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px 20px;
    flex-wrap: wrap;
}

.link-item {
    width: 180px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;


}

.socials {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(90, 165, 254, 0.10);
}

#calculator {
    display: flex;
    padding: 96px 112px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    backdrop-filter: invert();
    /* background: url("/images/background-2.png"); */
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    /* Add this line to fix the background */
}

#calculator .heading {
    width: 658px;
    min-width: 350px;
    max-width: 658px;

    text-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}


.calculator-inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.calculator-inputs fieldset {

    border: none;
    padding: 0;
}

.loan-amount {
    display: flex;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 8px;
    padding-top: 8px;


}


.calculator-inputs input {
    border: none;
    background: none;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.calculator-inputs label {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
}


.loan-term {
    margin-top: 8px;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;

    border-radius: 72px;
    background: #F7EDF5
}

.chips.active {

    background: #FFF;
    color: #000;
}

.chips {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border: none;
    border-radius: 58px;
    background: none;

    color: #5C6F7F;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* 150% */
    cursor: pointer;
}

.calculator {
    display: flex;
    width: 403px;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.calculator .title {
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 4px;
    background: var(--neutral-50, #F6F9FB);
}

.calculator .term-details {
    display: flex;
    padding: 0px 32px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.calculator .line-item {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-bottom: 1px solid #E2E9F0;
}

.button-area {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.button-area a {
    align-self: stretch;
}

#animation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 80px;
    align-self: stretch;
    flex-wrap: wrap;

    color: #FFF;

    background: black;
}

#animation .heading {
    width: 40%;
    min-width: 560px;
}

#ideal-customer {
    display: flex;
    padding: 96px 120px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    text-align: center;
    background: black;
    color: white;
}

.customer-feature {
    display: flex;
    width: 340px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 0;
}


#closing {
    display: flex;
    padding: 96px 120px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: var(--White, #FFF);

}

#comparison {
    display: flex;
    padding: 96px 120px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;

    background: #FFF;
    color: black
}

.blue-cell {
    background: #F6F9FB;
}
table{
    text-align: left;
    vertical-align: middle;
    width: 100%;
    border-collapse: collapse;
}
tr{
   
    border-bottom: #E0E0E0 1px solid;
}
td,th{
    padding: 16px;
}